<%= form_for(@dating, url: "/datings/new", html: {method: "get"}) do |f| %>
  <%= f.label "食べる場所" %>
  <%= f.text_field :tabelog_area %>
  <%= f.label "食べたい場所" %>
  <%= f.text_field :tabelog_food %>
  <%= f.label "地域" %>
  <%= f.collection_select :region, Region.all, :id, :name %>
  <%= f.label "都道府県" %>
  <%= render partial: 'shared/prefecture', locals: { region_id: Region.first.id } %>

  <%= submit_tag("Search") %>
<% end %>
