<% provide(:title, "オススメのデートプランはこれ！") %>

<div>
  <div class="dating" >
    オススメスポットは<%= link_to @dating.walker_data[:name], @dating.walker_data[:url] %>です！
  </div>
  <div class="dating-image" >
    <%= link_to @dating.walker_data[:url], target: "_blank" do %>
      <%= image_tag(@dating.walker_data[:image]) %>
      <% end %>
  </div>
  <p>
    こんなイベント！
  </p>
  <p>
    「<%= @dating.walker_data[:discription] %>」
  </p>
  <p>
    「<%= @dating.walker_data[:date] %>」
  </p>
  <p>
    「<%= @dating.walker_data[:location] %>」
  </p>
  <p>
    「<%= @dating.walker_data[:place] %>」
  </p>
</div>

<div>
  <div class="dating" >
    ご飯は<%= link_to @dating.tabelog_data[:name], @dating.tabelog_data[:url] %>で食べよう！
  </div>
  <div class="dating-image">
    <%= link_to @dating.tabelog_data[:url], target: "_blank" do %>
      <%= image_tag(@dating.tabelog_data[:image]) %>
    <% end %>
  </div>
</div>
