<% provide(:title, "デートプランを決めよう！") %>

<%= form_for(@dating, url: "/datings/new", html: {method: "get"}) do |f| %>
<table class="table">
  <tr>
    <th>どの地域で遊ぶ？</th>
    <td>
      <%= f.collection_select :region, Region.all, :id, :name, {selected: 3} %>
      <%= render partial: 'shared/prefecture', locals: { region_id: 3 } %>
    </td>
  </tr>
  <tr>
    <th>ご飯はどのあたり？</th>
    <td>
      <%= f.text_field :tabelog_area, placeholder: '新宿駅' %>
    </td>
  </tr>
  <tr>
    <th>なに食べたい？</th>
    <td>
      <%= f.text_field :tabelog_food, placeholder: 'とんかつ' %>
    </td>
  </tr>
  <tr>
    <th>
      <%= submit_tag("検索！") %>
    </th>
  </tr>
</table>
<% end %>
